@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: rgb(10, 16, 36);
}
#container {
  padding: 20px;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  color: white;
}
h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 3rem;
  margin: 10px 0px 40px 0px;
}
#input {
  display: grid;
  grid-template-columns: repeat(9, 3rem);
  grid-auto-rows: 3rem;
  grid-gap: 1px;
  justify-content: center;
  margin-bottom: 40px;
}

#input > p {
  padding: 2px;
  display: flex;
  outline: 0px solid transparent;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: green;
  background-color: black;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.932);
}
#msgs {
  margin-bottom: 40px;
}
#msgs > p {
  text-align: center;
}
#input > #error,
#error {
  color: red;
}
#input > #given {
  color: rgb(10, 133, 233);
}
#input > #solved,
#solved {
  color: rgb(185, 204, 17);
}
#buttons {
  display: flex;
  justify-content: center;
}
#buttons > p {
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: rgb(63, 34, 170);
  margin-bottom: 30px;
}
#buttons > p:first-child {
  margin-right: 10px;
}
@media (max-width: 700px) {
  #input {
    grid-template-columns: repeat(9, 2rem);
    grid-auto-rows: 2rem;
  }
}
